@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-drawer-container {
    width:100%;
    height: calc(100% - 64px);
    border: 1px solid #555;
}

.mtg-image-placeholder {
    width:224px;
    height:312px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/images/back.jpg');
}

.mtg-image {
    width:224px;
    height:312px;
}

.mtg-query-clause {
    display:flex;
    margin-bottom: 6px;
}

$mtg-query-size: 24px;

.mtg-query-clause-clear {
    height: $mtg-query-size;
    width: $mtg-query-size;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 6px;

    mat-icon {
        height: $mtg-query-size;
        width: $mtg-query-size;
        display: flex;
        align-self: center;
    }
}

.mtg-query-clause-operator {
    height: $mtg-query-size;
    min-width: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 6px;
}

.mtg-query-clause-value {
    align-self: center;
}